@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Sen&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.pink_gradient {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  z-index: 0;
  background: #fb37ff;
  filter: blur(200px);
}

.blue_gradient {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  z-index: 0;

  background: #18b2de;
  filter: blur(200px);
}

.gradient-border {
  background: linear-gradient(
    168.82deg,
    #fb37ff 1.7%,
    rgba(155, 111, 238, 0) 27.12%,
    rgba(123, 127, 234, 0) 61.28%,
    #1bb2de 99.52%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: flex;
}

.marketplaceOverlay {
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0.1);
  z-index: 5;
  backdrop-filter: blur(5px);
}

.landingPage__bg {
  background: url("./assets/landingBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen {
  .overlay {
    overflow-y: none;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0px;
    height: 100vh;
    z-index: 9;
    overflow: hidden;
  }
}

@media only screen and(min-width: 1281px) {
  .overlay {
    justify-content: center;
    align-items: center;
  }
}

/* Container styles */

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
}

@media screen and (max-width: 450px) {
  .app_wrapper {
    padding: 4rem 1rem 2rem;
  }
}
